  /*  margin-right: auto;
      background-color: currentcolor;  
    outline : auto ;*/

      /*  margin-right: auto;
      background-color: currentcolor;  
    outline : auto ;*/

    /*permet d'aligner les photos les unes à la suite des autres, on peut aussi utiliser le positionnement absolu*/
/*image 4*/


/* englobe le slider */

/*    <!--
Les balises <form> sert à dire que c'est un formulaire
on lui demande de faire fonctionner la page contact.php
une fois le bouton "Envoyer" cliqué on lui dit également que c'est un formulaire de type "POST"
Les balises <input> sont les champs de formulaire
type="text" sera du texte
la balise <textarea> sert à dire qu'il faut afficher un champ de texte rectangulaire (les sauts de ligne sont possibles) au contraire des champ input text
Vous remarquerez que l'ont ne renseigne pas le type (type="") pour la balise textarea
cols="nombre de colone horizontale" rows="nombre de colone verticales"
type="submit" sera un bouton pour valider le formulaire
name="nom de l'input" sert à le reconnaitre une fois le bouton submit cliqué, pour le code PHP contact.php
-->*/

/*pour le saut de page, on cree une class que l'on met en display:none*/

/*   width: max-content;
  writing-mode: vertical-rl;*/
/*navigation avec images miniatures*/

.Titre
{
    font-weight: 100;
    font: optional;
     border-bottom: solid;
     border-style: inset;
    border-color: #d67eff;
    text-align: center;
    justify-self: center;
    font-size: 3em;
    text-decoration: underline;
    max-inline-size: max-content;
    margin-inline: auto;
    padding: 10px;
}

     /* Change the link color on hover */
     
nav img 
{
    justify-self: unset;
    margin: auto;
    height: 70px;
    width: 70px;
    margin-inline-start: 0;
  
}

samp
{
    font-size: 17px;
    padding: 5px 0 10px 15px;
}

picture
{
    padding: auto;
    margin: auto;
    justify-content: space-between;
    display: flex;
   
}


.apres
{
  contain: size;
}


/* <div >  En voulant créer un portfolio,    Je vous illustre donc mes créations.<br>      <div>  <div>    <img src="image/Créature Hybride.jpg" alt=""> 
Si j'ai fait ce portfolio, c'est pour    Ce CV montre ma motivation de me surmonter et de donné le meilleur de moi même !   </div> */


/* Il est concevable d’ordonner les documents en fonction :
- de leur ordre chronologique ;
- du type de productions (écrits, photographiques, vidéos, etc.) ;
- des compétences travaillées ;
- des disciplines enseignées ;
- …
N’oubliez pas !
Le seul impératif est de veiller à dater chacune des productions qui
apparaissent dans le portfolio.*/


/* <img src="this.src='adresse image petit.jpg'"
onmouseout="this.src='adresse image petit.jpg'" 
onmouseover="this.src='adresse image grand.jpg'"/> */

div#exForm p {
  vertical-align: top;
  margin-top: 0px;
}


/*       <!--
         //placeholder: indication grisée 
      //required: il faut renseigner le champs sinon la validation est bloquée
      //autofocus: le curseur est positionné dans cette case au chargement de la page
    -->  
    <!--
          // type="tel": bascule le clavier sur un smartphone
      // pattern: expression régulière à vérifier pour pouvoir valider
    -->
         
     <!--   // type="number": bascule le clavier sur un smartphone -->
        */

        