.picker-content{
    height:300px;
    width:200px;
    }

button{
    padding: 8px 25px;
    margin-left: 30px;
    border-radius: 5px;
    color: #FCEDFA;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #6B558B;
    background-color: #E5387B;
}


button:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
    border: 2px solid #E5387B;
    background-color: #6B558B;
} 

h1 {
    margin: 30px;
    color: #E5387B;
    font-weight: bolder;
}

h2 {
    margin: 30px;
    color: #6B558B;
}



.bttn {
    
    text-align: center;
    font-weight: bolder;
    background: #E5387B; 
    padding: 8px 25px;
    margin: auto;
    text-decoration: none;
    border-radius: 5px;
    color: #FCEDFA;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #6B558B;
    background-color: #E5387B;
    
    }
.bttn:hover {
    background: #6B558B; 
    color: #FCEDFA;
    border: 2px solid #E5387B;
    background-color: #6B558B;
    }

.modif
{
    width: auto;
    color: #FCEDFA;
    border: 2px solid #fb5897;
    background-color: #E5387B;
}

.modif:hover
{
    border: 2px solid #E5387B;
    background-color: #fb5897;
    color: #FCEDFA;
}

.marg {
    margin-left: 20px;
    margin-right: 20px;
}

.car {
    width: 120px;
}

.espace {
    margin-top: 30px;
}

.supprime{
    width: auto;
    border: 2px solid #6B558B;
    background-color: #676B8B;
    color: #FCEDFA;
}

.supprime:hover{
    color: #FCEDFA;
    border: 2px solid #676B8B;
    background-color: #6B558B;
}

textarea {
    border-radius: 7px;
}